:root {
--state: #434455;
--navy-blue: #2e2f42;
--cornflower: #E7E9FC;
--iris: #4D5AE5;
--ocean: #404BBF;
--cloud: #F4F4FD;
--white: #ffffff;

}

body {font-family: "Roboto", sans-serif;
    color: var(--state);
    background-color: var(--white);}
    
.list {list-style: none;}

.link {text-decoration: none;}

.logo-link link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}

    .logo-accent {color:#2e2f42}

.nav-list link {color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;}

.address {color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}

.list {list-style: none}

.contact-link {color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}
