:root
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
color: #434455;
background-color: #ffffff

.body {
        
        font-family: "Roboto", sans-serif,
        color #434455;
        background-color #ffffff;
    }

.logo-link {color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif,
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;}

    .logo-accent  {color: var(--navyblue, #2E2F42);}

.nav-list-link {color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;}

.address {color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}

.list {list-style: none}

.contact-link {color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}
